body { 
    display: grid;
    grid-template-areas: 
      "nav "
      "main"
      "footer";
    grid-template-rows: 7% 93% 7%;
    grid-template-columns:1fr ;
    grid-gap: 3px;
    height: 100vh;
    margin: 0;
    background-color: #594D46;
    }
  header, footer, article, nav, main {
    padding: 20px;
    background: #EFEFEF;
  }
  #mainFooter {
    grid-area: footer;
  }
  #mainNav { 
    grid-area: nav; 
    }
  #mainMain { 
    grid-area: main; 
    }

    h1, h2, h3, p{
      font-family: 'Lora', serif;
      color: #080706;
        margin-left: 17%;
      }
    

@media screen and (max-width: 540px){
        body { 
          display: grid;
          grid-template-areas: 
            "nav "
            "main"
            "footer";
          grid-template-rows: 52% 197% 7%;
          grid-template-columns:1fr ;
          grid-gap: 3px;
          height: 100vh;
          margin: 0;
          background-color: #594D46;
          }
          
          
          ul.nav { list-style-type:none ; }
          ul.nav a { display: block; }
          
          #navbar{
            margin: 0px;
            padding: 0px;
            list-style-type: disc;
            border-radius: 1px 1px;
            width: 50%;
            text-align: center;
            background-color: #EFEFEF;
          }
          #navbar li {display: inline;}
          #navbar a{
            color: #080706;
            display: inline-block;
            text-decoration: none;
            width: 500px;
            border:2px solid #594D46;
            font-size: 30px;
            padding: 5%;
          }
          #navbar a:hover {
            border-radius: 10px 10px;
            background-color:#D1B280;
          }
          .wid{
            position:absolute;
          
          }
      }

      @media screen
and (min-device-width: 768px)
and (max-device-width: 1023px){
  body { 
    display: grid;
    grid-template-areas: 
      "nav "
      "main"
      "footer";
    grid-template-rows: 12% 87% 7%;
    grid-template-columns:1fr ;
    grid-gap: 3px;
    height: 100vh;
    margin: 0;
    background-color: #594D46;
    }
}

@media screen
and (min-device-width: 1024px)
and (max-device-width: 1280px){
  body { 
    display: grid;
    grid-template-areas: 
      "nav "
      "main"
      "footer";
    grid-template-rows: 12% 127% 7%;
    grid-template-columns:1fr ;
    grid-gap: 3px;
    height: 100vh;
    margin: 0;
    background-color: #594D46;
    }
}