body { 
    display: grid;
    grid-template-areas: 
      "nav "
      "header "
      "article"
      "main"
      "footer ";
    grid-template-rows: 7% 12% 80% 115% 7%;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
    background-color: #594D46;
    }
  header, footer, article, nav, main, aside {
    padding: 20px;
    background: #EFEFEF;
  }
  #mainHeader {
    grid-area: header;
  }
  #mainArticle{
      grid-area:article;
  }
  #mainFooter {
    grid-area: footer;
  }
  #mainNav { 
    grid-area: nav; 
    }
  #mainMain { 
    grid-area: main; 
    }

    .imgscale {
        position: relative;
        left: 4%;
        top:2%;
        margin-bottom: 3%;
        margin-left:8%;
        margin-right:8% ;
      }
      .imgscale img {
        transition: 1s;  
        position: relative;
      }
      .imgscale img:hover {
        transform: scale(2.1); 
      }

      .imgscale1 {
        position: relative;
        left: 4%;
        margin-bottom: 8%;
        margin-left:8%;
        margin-right:8% ;
      }
      .imgscale img {
        transition: 1s;  
        position: relative;
      }
      .imgscale img:hover {
        transform: scale(2.1); 
      }

      .imagg{
          position: relative;
          left: 32%;
          width: 550px; 
          height: 350px;
          margin:3%;
      }

      #cin{
        position: absolute;
        top: 57%;
        right: 41%;
        color: #080706;
        transform: translate(-50%, -50%);
        background-color:#EFEFEF ;
        text-align: center;
      }
      #cin a{
        color: #080706;
        display: inline-block;
        text-decoration: none;
        width: 90px;
        border: 2px ridge #D1B280;
        }
        #cin a:hover {
        background-color:#D1B280 ;
        border-radius: 9%;
        }

        h1, h2, h3, p{
          font-family: 'Lora', serif;
          color: #080706;
        }
      
      h1{
        color: #080706;
        text-align: center;
      }
      h4{
        color: #080706;
        text-align: center;
        font-size: 150%;
      }
      p{
        color: #080706;
        text-align: center;
        font-size: 120%;
      }


      @media screen and (max-width: 540px){
        body { 
          display: grid;
          grid-template-areas: 
            "nav "
            "header "
            "article"
            "main"
            "footer ";
          grid-template-rows: 40% 16% 80% 155% 7%;
          grid-template-columns: 440px;
          grid-gap: 1px;
          height: 100vh;
          margin: 0;
          background-color: #594D46;
          }
        #navbar{
          margin: 0px;
          padding: 0px;
          list-style-type: disc;
          border-radius: 1px 1px;
          width: 50%;
          text-align: center;
          background-color: #EFEFEF;
        }
        #navbar li {display: inline;}
        #navbar a{
          color: #080706;
          display: inline-block;
          text-decoration: none;
          width: 500px;
          border:2px solid #594D46;
          font-size: 30px;
          padding: 5%;
        }
        #navbar a:hover {
          border-radius: 10px 10px;
          background-color:#D1B280;
        }
        #cin{
          position: absolute;
          top:125%;
        } 
        .layer3{
          width: 300px;
          height: 300px;
        }
        .imgscale{
          width: 250px;
         
        }
        .imgscale1{
          width: 250px;
          
        }
      }

      @media screen
      and (min-device-width: 768px)
      and (max-device-width: 1023px){
        #cin{
          position: absolute;
          top:91%;
          right: 30%;
        }
        body { 
          display: grid;
          grid-template-areas: 
            "nav "
            "header "
            "article"
            "main"
            "footer ";
          grid-template-rows: 12% 16% 80% 115% 7%;
          grid-template-columns: 1fr;
          grid-gap: 1px;
          height: 100vh;
          margin: 0;
          background-color: #594D46;
          }
      }
      @media screen
and (min-device-width: 1024px)
and (max-device-width: 1280px){
  body { 
    display: grid;
    grid-template-areas: 
      "nav "
      "header "
      "article"
      "main"
      "footer ";
    grid-template-rows: 12% 16% 100% 155% 7%;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
    background-color: #594D46;
    }
    #cin{
      position: absolute;
      right: 30%;
    }
}
